/* import font */
/* font 1*/
@font-face {
  font-family: "f1";
  src: url("ext/font1.ttf");
}
/* font 2*/
@font-face {
  font-family: "f2";
  src: url("ext/font2.ttf");
}

body {
  margin: 0px;
  padding: 0px;
}
.header {
  min-height: 100px;
  width: 100%;
  background-color: (255, 255, 255, 0.5);
  background: url(ext/banner1.jpeg) no-repeat center;
  opacity: 0.7;
  background-size: cover;
  color: #333333;
}

.header > img {
  width: 150px;
}

.navigation {
  padding-top: 10px;
  padding-left: 550px;
  min-height: 50px;
  width: 100%;
  background: #4c5258;
  font: 14px "f1";
  color: #ffffff;
}
.navigation > .tombol {
  background: #cbb58d;
  color: brown;
  height: 30px;
  margin: 5px;
  width: 110px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px #ffffff;
}
.navigation > .tombol:hover {
  background: #e3e3e3;
  color: #333333;
}
.content {
  min-height: 450px;
  width: 100%;
  background: #ffffff;
  display: flex;
}
.content > .main h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content > .side {
  width: 25%;
  background: #d3d3d3;
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  /* perataan (vertical) ke atas / top */
  align-content: flex-start;
  /* gunakan "align-content" untuk jumlah object > 1 */
  /* gunakan "align-items" untuk jumlah object = 1 (contoh: selector "footer") */
  /* gunakan "align-self" untuk object tertentu (contoh: selector "logo") */
}
.content > .side > .logo {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 1%;
  padding-right: 1%;
  width: 38%;
  /* total lebar = 40%
       1% (padding-left) + 1% (padding-right) + 38% (width) */

  /* perataan object "logo" (vertical) ke tengah / center */
  align-self: center;
}

/* styling figure */
.content > .side > .logo > figure {
  width: 100%;
  margin-left: 0px;
  text-align: center;
}
/* styling figcaption */
.content > .side > .logo > figure > figcaption {
  text-align: center;
  padding: 3px;
  font: 14px "f1";
}

.content > .side > .text {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 2%;
  width: 58%;
  /* total lebar = 60%
       2% (padding-right) + 58% (width) */
  text-align: justify;
  font: 12px f1;
}
.content > .side > .garis {
  border-bottom: 1px dashed #333333;
  width: 100%;
}

.content > .main {
  width: 71%;
  padding: 10px 2%;
  /* total lebar = 75%
       2% (padding-left) + 2% (padding-right) + 71% (width) */
  background: #ffffff;
  min-height: 450px;
  text-align: justify;
  font: 16px f1;
}


.main > .hero-image {
  position: relative;
  text-align: center;
}


@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px); /* Sesuaikan dengan seberapa jauh gambar bergerak ke bawah */
  }
}

.footer {
  background: #4c5258;
  width: 100%;
  min-height: 50px;
  display: flex;
  /* perataan (vertical) ke tengah / center */
  align-items: center;
  /* perataan (horizontal) ke tengah / center */
  justify-content: center;
  font: 14px f2;
  color: white;
}

/* gallery  */
.gallery {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f4f4f4;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  margin: 1em;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-content {
  padding: 20px;
  font-size: 12px;
}

.card-content h2 {
  margin-top: 0;
  font-size: 18px;
  color: #333;
  text-align: center;
}

.card-content p {
  color: #666;
}

.category {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  text-align: center;
}
/* end gallery */

/* buat responsive */
@media (max-width: 1024px) {
  .header {
    background: url("ext/logo.png") no-repeat center center #ffcc00;
  }

  .navigation {
    text-align: center;
    padding: 5px;
  }

  .content {
    flex-direction: column;
  }

  .content > .side {
    width: 96%;
    padding: 15px 2%;
    /* total lebar = 100%
           2% (padding-left) + 2% (padding-right) + 96% (width) */
    min-height: 100px;
  }

  .content > .main {
    width: 96%;
    padding: 15px 2%;
    /* total lebar = 100%
           2% (padding-left) + 2% (padding-right) + 96% (width) */
  }

  .content > .side > .logo {
    width: 13%;
    padding: 0%;
    /* total lebar = 30%
	       2% (padding-left) + 28% (width) */
  }

  .content > .side > .text {
    width: 87%;
    padding: 0%;
  }
}

@media (max-width: 768px) {
.header {
  min-height: 100px;
  width: 100%;
  background-color: (255, 255, 255, 0.5);
  background: url(ext/banner1.jpeg) no-repeat center;
  opacity: 0.7;
  background-size: cover;
  color: #333333;
}

.header > img {
  padding-left: 100px;
}

  .content > .side > .logo {
    width: 20%;
    padding: 0%;
    /* total lebar = 30%
	       2% (padding-left) + 28% (width) */
  }

  .content > .side > .text {
    width: 80%;
    padding: 0%;
  }

  .content > .main h2 {
    text-align: center;
  }
  /* card */
  .card {
    max-width: 48%;
  }
}
